<!DOCTYPE html>
<html>
  <head>
    <title>NUUM</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://rdio.com/api/api.js?client_id=NVrBU4pUsMeQdpcMj-S47w&helper=http://127.0.0.1:10080/helper"></script>
    <!-- // <script src="https://rdio.com/api/api.js?client_id=NVrBU4pUsMeQdpcMj-S47w&helper=helper"></script> -->
    <script type="text/javascript" src="/static/common/get_key_with_callback.js"></script>
    <script src="/static/common/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/mixtape.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/cosmo/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

<body>

<div id="wrap" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
        <a id='show-search' class="brand">NUUM</a>
        <ul class="nav">
        </ul>
<!--         <ul class="nav pull-right">
          <li class="nav-choice"><a href="https://github.com/plamere/en-demos/blob/master/acrostic/">The Source</a></li>
          <li class="nav-choice"><a href="http://static.echonest.com/labs">Labs</a></li>
          <li class="nav-choice"><a href="http://static.echonest.com/labs/demo.html">Demos</a></li>
          <li class="nav-choice"><a href="http://developer.echonest.com">developer.echonest.com</a></li>
        </ul> -->
    </div>
  </div>
</div>

<div id="work-area">
    <div id="greeting" class="container">
        <p class="lead">
          Enter how you feel, what you're doing or musical attributes to generate a playlist.
        </p>


        <input type="hidden" id="playlist" name="playlist" value="[]" />
        <input type="hidden" id="token" value= {{ token }} />
        <input type="hidden" id="model_input_batch" value= {{ model_input_batch }} />
        <input type="hidden" id="model_input_weights" value= {{ model_input_weights }} />


        <div class="container">
            <div class="row">
                <div class="span3_curato">
                    <p class="lead"> Tag 1:</p>
                      <input maxlength="100" id="word1" type="text"
                        class="input-medium" placeholder="First word here">
                </div>
                <div class="span3_curato">
                  <p class="lead">Tag 2:</p>
                    <input maxlength="100" id="word2" type="text"
                        class="input-medium" placeholder="optional">
                </div>
                <div class="span3_curato">
                  <p class="lead">Tag 3:</p>
                    <input maxlength="100" id="word3" type="text"
                        class="input-medium" placeholder="optional">
                </div>
                <div class="span3_curato">
                    <button id='go' class="btn btn-primary">Get some songs</button>
                </div>
            </div>
            <div class="row">
                <div class='genre'>Genre:&nbsp;&nbsp;<select id="genres"></select></div>
                <div class='genre'>Playlist Length:&nbsp;&nbsp;<input id="plength" value="1"></input></div>
            </div>
        </div>
        <!-- <div id="info" class="alert alert-error"> </div> -->
    </div>
    <div class="container" id="results">
        <div id='buttons'>
<!--             <span id="play-buttons" class="btn-group">
              <button id='playPrev' class="btn btn-default pb"><i class="icon-backward"></i></button> </li>
              <button id='playPlay' class="btn btn-default pb"><i class="icon-play"></i></button> </li>
              <button id='playPause' class="btn btn-default pb"><i class="icon-pause"></i></button> </li>
              <button id='playNext' class="btn btn-default pb"><i class="icon-forward"></i></button> </li>
            </span> -->
            <button id='save' class="btn btn-primary pull-right">Save to Rdio</button>
        <br/>
        </div>

<!--         <table id="song-table" class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody id="trows">
            </tbody>
            <div id="loader">Loading...</div>
        </table> -->


        <!-- <div id="upsell" class="alert alert-info"></div> -->
        <div id="status">{{ data|safe }}</div>
          <div id="loader"></div>

    </div>



    <div id="footer" class="container span10 offset1">
        <small>
            Powered by <a href="http://echonest.com">The Echo Nest</a> and <a href="http://rdio.com">Rdio</a>.
        </small>
    </div>
</div>

</body>
</html>
