<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <script src="/static/js/token.js"></script>
  <script src="/static/js/hello.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/autosuggest.css" />
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">



  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>


      <div id="content">

      </div>
      <div id="navigation">

          <div class="navigation_section" id="left"></div>
          <div class="navigation_section" id="right"></div>

      </div>


    <section class="lead">
      <h1>mixtape</h1>
    </section>

  <div class="container">
    Enter how you feel, what you're doing or musical attributes to generate a playlist.
    <form method="post" action="/">
    <br/>

    Word1:<input type="text" id="word1" value="{{ word1 }}"/>
    Word2:<input type="text" id="word2" value= "{{ word2 }}"/>
    Word3:<input type="text" id="word3" value= "{{ word3 }}"/>

    <input type="hidden" id="playlist" name="playlist" value="[]" />
    <input type="hidden" id="token" value= {{ token }} />
    <input type="hidden" id="model_input_batch" value= {{ model_input_batch }} />
    <input type="hidden" id="model_input_weights" value= {{ model_input_weights }} />
    <br/>
    <br/>
    </form>
    <br/><br/><button id="generate" class="btn btn-default">Generate</button>


    <hr />






    <div id="upsell" class="alert alert-info">
          <p><div id="status">{{ data|safe }}</div>
          <div id="loader"></div>
          </p>
<!--       <div id="subscriber">You are an Rdio subscriber. You're awesome.</div>
      <div id="trial">You are an Rdio trial user, Subscribe now!</div>
      <div id="free">You are an Rdio Free user with <span id="remaining"></span>% of your quota remaining, subscribe now!</div>
      <div id="nobody">To hear full tracks subscribe to Rdio.</div> -->
    </div>

    <div id="apiswf"></div>
      <div class="well" style="overflow: hidden;">
        <div class="row">
          <div class="col-md-6">
            <div class="playControls btn-group">
              <button id="play" class="btn btn-default"><i class="fa fa-play-circle"></i> Play</button>
              <button id="stop" class="btn btn-default"><i class="fa fa-stop"></i> Stop</button>
              <button id="pause" class="btn btn-default"><i class="fa fa-pause"></i> Pause</button>
              <button id="previous" class="btn btn-default"><i class="fa fa-step-backward"></i> Previous</button>
              <button id="next" class="btn btn-default"><i class="fa fa-step-forward"></i> Next</button>
            </div>
          </div>
          <div class="col-md-6">
            <div id="freq" class="frequency">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row well">
        <div class="artistAlbumInfo well col-md-6 ">
          <h3><span id="artist"></span> - <span id="track"></span></h3>
          <img src="" id="art" class="albumArt">
        </div>
        <div class="col-md-6">
          <h3 id="album"></h3>
          <h4>Playstate <p id="playState"></p></h4>
          <h4>Position <p id="position"></p></h4>
        </div>
      </div>
</div>
</body>
</html>
