@import 'grid.less';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 80;
@gutter-width: 20;

@ipad-width: 640px;
@iphone-width: 320px;
// Uncomment the definition below for a percentage-based layout
// @total-width: 100%;


////////////
// LAYOUT //
////////////

// center the contents
/*div#content {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
*/

body {
	background-color: #000;
}

// header
div#content {

	.column(12);
	height:800px;
	background-color: #CCCCCC;
	position: relative;
	display: block;
	//margin-bottom: 1em;

/*	.chart div {
		font: 10px sans-serif;
		background-color: steelblue;
		text-align: right;
		padding: 3px;
		margin: 1px;
		color: white;
	}

	.chart rect {
		stroke: white;
		fill: steelblue;
	}

	.chart g text.barLabel {
		color: white;

	}

*/	    
	path {
		stroke: #000;
		stroke-width: 1.5px;
		fill: none;
	}

	#chart {
	  font: 10px sans-serif;
	}

	line {
	  stroke: black;
	}

button {
  font: 14px Helvetica Neue;
  background-color: #222;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.active {
  background-color: rgb(65,102,133);
}

button:hover {
  background-color: steelblue;
}

}







div#navigation {

	.column(12);
	height:100px;
	background-color: #999;
	position: relative;
	display: block;
}





