
#work-area {
    margin-top:80px;
    margin-left:8px;
}

#main {
    margin-left:8px;
}

#go {
    margin-top:50px;
}


#info {
    margin-left:20px;
    display:None;
    width:470px;
}


#footer {
    margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
}


#buttons {
    width:650px;
    line-height:30px;
}


#song-table {
    font-size:18px;
    margin-top: 20px;
    width:600px;
}

#song-table TR {
    cursor:pointer;
}

.char {
    80px;
}

#message {
    margin-left: 20px;
}

#loader {
    margin-left: 42px;
    margin-top:5px;
}

#genre-container {
    margin-left: 20px;
    margin-top: 5px;
}

#results {
    margin-top:10px;
    padding-left:60px;
}

.playstatus {
    width:42px;
    height:30px;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: .8em;
}

.bad_tag_button {
    width:30px;
    /*height:30px;*/
    /*margin-top:8px;*/
    /*vertical-align: middle;*/
    /*display:inline-block;*/
    display:table-cell;
    /*float:right;*/
}

.songtitle {

    /*margin-left:42px;*/
    display: table-cell;
    vertical-align: middle;
    padding: .5em 0 .5em 0;
    /*top: 0; left: 0; bottom: 0; right: 0;*/
}

.success{
    background-color: #eee;
}

.songrow{
    position:relative;
    width:650px;
    overflow:visible;
    display:table;
    border-bottom:solid;
    border-color: #ddd;
    border-width: 1px;
    cursor: pointer;

}
.badtagmenu{
    position:absolute;
    width:150px;
    border-style:solid;
    background-color:#eee;
    z-index:100;

}
.songarea{
    width:620px;
    /*max-width: 620px;*/
    float:left;
    display:table;
    /*height: 30px;*/
    /*vertical-align: middle; */
}
.songrowline{
    width:650px;
    margin:0px;
    height:1px;
    clear:both;
    color: #ccc;
    border-top: 0px;
    border-bottom: 0px;
    background-color: #ddd;
    display:block;
}

.row{
    display: table;
}

.flag {
    position:absolute;
    top:50%;
    margin-top: -7px;
    max-height: 14px;
    max-width: 14px;
}

#playPlay{

    background-color: #eee;
}

#playPause{

    background-color: #eee;
}
#playFirst{

    background-color: #fff;

}
.offset1_1{
    margin-left: 25px;
}

.span3_curato {
    width: 180px;
}

.badtagmenu input[type="checkbox"] {
    display: none;
}
.badtagmenu input[type="checkbox"]+label {    
    background: url('/static/assets/checkmark-green-3D-small.png') no-repeat;
    height:17px;
    padding-left: 18px;
    margin: 0 0 0 4px;
    display:inline;
}
.badtagmenu input[type="checkbox"]:checked + label {
    background: url('/static/assets/red_x.png')  no-repeat;
    height:17px;
    margin: 0 0 0 4px;
    display:inline;
}

.genre{
    padding-left: 20px;
    display:table-cell;
}

.incorrect_tag{
    border: 1px solid red !important;
}

#plength{
    width: 50px;
}

#genres {
    height:28px;
    margin-top: 7px;
}
